@import 'reset';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&family=Parisienne&display=swap');
  /* Google Fonts から "Noto Sans JP"，"Noto Serif JP"，"Parisienne" をインポートする。 */

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color: rgba(#333333, 1.0);
  margin: 0 auto;

  a {
    color: rgba(#333333, 1.0);
    text-decoration: none;
  }
}

@import 'header';

.Global_Navi {
  height: 48px;
  position: relative;

  &__Menu {
    display: flex;
      flex-direction: row;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);

    &--Link {
      font-family: 'Noto Serif JP', serif;
      font-size: 0.7rem;
      text-align: center;
      line-height: 1.5em;
      padding: 8px 8px 7px;
      margin-right: 64px;
      display: block;

      &::first-line {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 0.9rem;
      }

      &:hover {
        border-bottom: solid 1px #333333;
      }
    }
  }
}
